In [2]:
import mysql.connector
conn=mysql.connector.connect(user='root',password='pravinkatale2295',
                             host='localhost')

qur='CREATE DATABASE project'
mycur=conn.cursor()
mycur.execute(qur)
mycur.close()
conn.close()

DatabaseError: 1007 (HY000): Can't create database 'project'; database exists

In [3]:
import mysql.connector
conn=mysql.connector.connect(user='root',password='pravinkatale2295',
                             host='localhost',database='project')

qur='CREATE TABLE emp(name VARCHAR(40),mobno VARCHAR(20),dept VARCHAR(40),salary VARCHAR(20))'
mycur=conn.cursor()
mycur.execute(qur)
mycur.close()
conn.close()

ProgrammingError: 1050 (42S01): Table 'emp' already exists

In [1]:
# GUI

In [ ]:
import mysql.connector
from tkinter import *
from tkinter import messagebox
from tkinter import ttk

win=Tk()
win.title('EMPLOYEE MANAGEMENT SYSTEM')
win.config(bg='skyblue')
win.geometry('800x600')


def show():
    treev.delete(*treev.get_children())
    conn=mysql.connector.connect(user='root',password='pravinkatale2295',
                             host='localhost',database='project')

    qur='SELECT * FROM emp'
    mycur=conn.cursor()
    mycur.execute(qur)
    data=mycur.fetchall()
    mycur.close()
    conn.close()
    for i in data:
        treev.insert('',END,values=(i[0],i[1],i[2],i[3]))


def add():
    name=n1.get()
    mob_no=m1.get()
    dept=d1.get()
    salary=s1.get()
    if name=='' or mob_no=='' or dept=='' or salary=='':
        messagebox.showinfo('info','All fields are compulsory')
    else:
        conn=mysql.connector.connect(user='root',password='pravinkatale2295',
                             host='localhost',database='project')

        qur=f'INSERT INTO emp VALUES("{name}","{mob_no}","{dept}","{salary}")'
        mycur=conn.cursor()
        mycur.execute(qur)
        conn.commit()
        mycur.close()
        conn.close()
        messagebox.showinfo('info','Data is inserted successfully')
        n1.set('')
        m1.set('')
        d1.set('')
        s1.set('')

def salary():
    pass


def delete():
    del_name=var1.get()
    if del_name=='':
        messagebox.showinfo('info','All fields are compulsory')
    else:
        conn=mysql.connector.connect(user='root',password='pravinkatale2295',
                             host='localhost',database='project')

        qur=f'DELETE FROM emp WHERE name="{del_name}"'
        mycur=conn.cursor()
        mycur.execute(qur)
        conn.commit()
        mycur.close()
        conn.close()
        messagebox.showinfo('info','Data is deleted successfully')
        var1.set('')

def select():
    update_name=var2.get()
    if update_name=='':
        messagebox.showinfo('info','All fields are compulsory')
    else:
        conn=mysql.connector.connect(user='root',password='pravinkatale2295',
                             host='localhost',database='project')

        qur=f'SELECT * FROM emp WHERE name="{update_name}"'
        mycur=conn.cursor()
        mycur.execute(qur)
        tup1=mycur.fetchone()
        e1.insert(0,tup1[0])
        e2.insert(0,tup1[1])
        e3.insert(0,tup1[2])
        e4.insert(0,tup1[3])
        mycur.close()
        conn.close()
        


def update():
    name=n1.get()
    mob_no=m1.get()
    dept=d1.get()
    salary=s1.get()
    if name=='' or mob_no=='' or dept=='' or salary=='':
        messagebox.showinfo('info','All fields are compulsory')
    else:
        conn=mysql.connector.connect(user='root',password='pravinkatale2295',
                             host='localhost',database='project')

        qur=f'UPDATE emp SET mobno="{mob_no}",dept="{dept}",salary="{salary}" WHERE name="{name}"'
        mycur=conn.cursor()
        mycur.execute(qur)
        conn.commit()
        mycur.close()
        conn.close()
        messagebox.showinfo('info','Data is updated successfully')
        n1.set('')
        m1.set('')
        d1.set('')
        s1.set('')
        var2.set('')
    
    

def clear():
    treev.delete(*treev.get_children())



# main label

l0=Label(win,text='EMPLOYEE MANAGEMENT SYSTEM',bd=5,relief='ridge',bg='white',fg='black',
        width=40,font=('times new roman',18,'bold'))

l0.place(x=268,y=40)


#employee name >>label and entry

l1=Label(win,text='EMPLOYEE NAME',bd=5,relief='ridge',bg='white',fg='black',
        width=20,font=('times new roman',12,'bold'))
l1.place(x=190,y=100)

n1=StringVar()
e1=Entry(win,textvariable=n1,bd=5,relief='ridge',bg='white',fg='black',
        width=40,font=('times new roman',12,'bold'))

e1.place(x=385,y=100)

# mob number >>label ,entry


l2=Label(win,text='MOBILE NUMBER',bd=5,relief='ridge',bg='white',fg='black',
        width=20,font=('times new roman',12,'bold'))
l2.place(x=190,y=140)

m1=StringVar()
e2=Entry(win,textvariable=m1,bd=5,relief='ridge',bg='white',fg='black',
        width=40,font=('times new roman',12,'bold'))

e2.place(x=385,y=140)


# dept >> label entry

l3=Label(win,text='DEPARTMENT',bd=5,relief='ridge',bg='white',fg='black',
        width=20,font=('times new roman',12,'bold'))
l3.place(x=190,y=180)

d1=StringVar()
e3=Entry(win,textvariable=d1,bd=5,relief='ridge',bg='white',fg='black',
        width=40,font=('times new roman',12,'bold'))

e3.place(x=385,y=180)

# salary >>label entry

l4=Label(win,text='SALARY',bd=5,relief='ridge',bg='white',fg='black',
        width=20,font=('times new roman',12,'bold'))
l4.place(x=190,y=220)

s1=StringVar()
e4=Entry(win,textvariable=s1,bd=5,relief='ridge',bg='white',fg='black',
        width=40,font=('times new roman',12,'bold'))

e4.place(x=385,y=220)


# 4 buttons>>> show,add exit salary

b1=Button(win,text='SHOW',width=20,command=show)
b1.place(x=200,y=320)

b2=Button(win,text='ADD',width=20,command=add)
b2.place(x=500,y=320)

b3=Button(win,text='EXIT',width=20,command=win.destroy)
b3.place(x=200,y=360)

b4=Button(win,text='SALARY',width=20,command=salary)
b4.place(x=500,y=360)


# DELETE INTERFACE >> label,entry,button

l5=Label(win,text='ENTER NAME>>',bd=5,relief='ridge',bg='white',fg='black',
        width=20,font=('times new roman',12,'bold'))
l5.place(x=190,y=400)

var1=StringVar()
e5=Entry(win,textvariable=var1,bd=5,relief='ridge',bg='white',fg='black',
        width=40,font=('times new roman',12,'bold'))

e5.place(x=385,y=400)

b5=Button(win,text='DELETE',width=20,command=delete)
b5.place(x=385,y=440)


# UPDATE >> label,entry,2 buttons(SELECT ,UPDATE)

l6=Label(win,text='ENTER NAME>>',bd=5,relief='ridge',bg='white',fg='black',
        width=20,font=('times new roman',12,'bold'))
l6.place(x=190,y=480)

var2=StringVar()
e6=Entry(win,textvariable=var2,bd=5,relief='ridge',bg='white',fg='black',
        width=40,font=('times new roman',12,'bold'))

e6.place(x=385,y=480)



b6=Button(win,text='SELECT',width=20,command=select)
b6.place(x=230,y=520)

b7=Button(win,text='UPDATE',width=20,command=update)
b7.place(x=385,y=520)

# tree view

treev=ttk.Treeview(win,height=23)
treev.place(x=750,y=100,width=500)

treev["columns"] = ("1", "2", "3","4")
treev['show'] = 'headings'


treev.column("1", width = 90, anchor ='c')
treev.column("2", width = 90, anchor ='se')
treev.column("3", width = 90, anchor ='se')
treev.column("4", width = 90, anchor ='se')
    
    
treev.heading("1", text ="Name")
treev.heading("2", text ="Mobile No")
treev.heading("3", text ="Dept")
treev.heading("4", text ="Salary")

# clear

b8=Button(win,text='CLEAR',width=20,command=clear)
b8.place(x=930,y=590)


win.mainloop()